<?xml version="1.0"?>
<config>
    <modules>
        <Pricewatch_Comparison>
            <version>0.1.0</version>
        </Pricewatch_Comparison>
    </modules>
    <admin>
        <routers>
			<comparison>
				<use>admin</use>
				<args>
					<module>Pricewatch_Comparison</module>
					<frontName>comparison</frontName>
				</args>
			</comparison>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <comparison>
                    <file>pricewatch/comparison.xml</file>
                </comparison>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <events>
            <catalog_product_save_after>
                <observers>
                    <Pricewatch_Comparison_Model_Observer>
                        <class>Pricewatch_Comparison_Model_Observer</class>
                        <method>updateProduct</method>
                    </Pricewatch_Comparison_Model_Observer>
                </observers>
            </catalog_product_save_after>
            <end_process_event_catalog_product_mass_action>
                <observers>
                    <Pricewatch_Comparison_Model_Observer>
                        <class>Pricewatch_Comparison_Model_Observer</class>
                        <method>setManualUpdate</method>
                    </Pricewatch_Comparison_Model_Observer>
                </observers>
            </end_process_event_catalog_product_mass_action>
        </events>
        <models>
            <comparison>
                <class>Pricewatch_Comparison_Model</class>
                <resourceModel>comparison_mysql4</resourceModel>
            </comparison>
            <comparison_mysql4>
                <class>Pricewatch_Comparison_Model_Mysql4</class>
                <entities>
                    <comparison>
                        <table>pricewatch_comparison</table>
                    </comparison>
                    <status>
                        <table>pricewatch_comparison_status</table>
                    </status>
                </entities>
            </comparison_mysql4>
        </models>
        <resources>
            <comparison_setup>
                <setup>
                    <module>Pricewatch_Comparison</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </comparison_setup>
            <comparison_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </comparison_write>
            <comparison_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </comparison_read>
        </resources>
        <blocks>
            <comparison>
                <class>Pricewatch_Comparison_Block</class>
            </comparison>
        </blocks>
        <helpers>
            <comparison>
                <class>Pricewatch_Comparison_Helper</class>
            </comparison>
        </helpers>
    </global>
</config>